html,
body {
    width: 100%;
    height: 100%;
}
body {
    webkit-tap-highlight-color: #222;
}

hr {
    max-width: 50px;
    border-color: #8A0917; 
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #8A0917;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #8A0917;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Biryani', sans-serif;
}

h3 {
    font-size: 18px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

p.text-narrow {
    font-weight: 600;
}
.text-fine {
    font-weight: 300;
}
.bg-primary {
    background-color: #013440;
}

.bg-dark {
    color: #fff;
    background-color: #002635;
        
}

.bg-grey {
    background-color: #222;
}
.bg-trans {
    background: aqua;
    padding: 20px;
    z-index: -2;
    bottom: 20px;
}

.text-faded {
    color: rgba(255,255,255,.8);
}
.text-dark {
    color: #222;
}
.text-deep {
    color: rgb(1,35,43);
}
.text-white {
    color: white;
}
section {
    padding: 100px 0;
}

section.filler {
    height: 25px;
    margin: 0px;
}
.border {
    border-top: 40px;
    border-color: aqua;
    border: visible;
}
aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

/*
nav {
    overflow-x: visible;
}
*/

.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Biryani', sans-serif;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    /* text-transform: uppercase; */
    font-weight: 700;
    color: #8A0917;
    font-size: 12px;
}
.navbar-default .navbar-header .navbar-brand .logo {
    /* text-transform: uppercase; */
    font-weight: 700;
    color: rgba(0,102,204, .2);
    font-size: 12px;
}

a.brand-padding {
    padding-top: 25px;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #8A0917;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #8A0917;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #8A0917!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:769px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }
    .navbar-default .navbar-header .navbar-brand .logo {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #fff;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 12px;
        color: #8A0917;
    }
    .navbar-default.affix .navbar-header .navbar-brand .logo {
        font-size: 12px;
        color: rgba(0,102,204, .2);
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #8A0917;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #8A0917;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../images/07.jpg); 
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    /*text-transform: uppercase;*/
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(138, 9, 23, .7);
}

@media(min-width:769px) {
    header {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

.section-heading {
    margin-top: 0;
    padding-top: 10px;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
    color: white;
    font-size: 12px;
    padding-top: 20px;
}

@media(min-width:992px) {
    .service-box {
        margin: 20px auto 0;
    }
}

.service-box p {
    margin-bottom: 0;
}

.values {
    background: #013440;
}

.portfolio-box, .portfolio-box-hide {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #8A0917;
    /*opacity: 0;*/
    background: white;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box-hide .portfolio-box-caption-hide {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #222;
    opacity: 0;
    background: rgba(209, 219, 189, .7);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content, 
.portfolio-box-hide .portfolio-box-caption-hide .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name, 
.portfolio-box-hide .portfolio-box-caption-hide .portfolio-box-caption-content .project-name,
.portfolio-box-hide .portfolio-box-caption-hide .portfolio-box-caption-content .project-category {
    padding: 0 25px;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box-hide .portfolio-box-caption-hide .portfolio-box-caption-content .project-category {
    /*text-transform: uppercase;*/
    font-size: 36px;
    font-weight: 600;
    color: #8A0917;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 16px;
}
.portfolio-box-hide .portfolio-box-caption-hide .portfolio-box-caption-content .project-name {
    font-size: 16px;
}

.portfolio-box:hover .portfolio-box-caption,
.portfolio-box-hide:hover .portfolio-box-caption-hide{
    opacity: 1;
}

@media(min-width:769px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
    .portfolio-box-hide .portfolio-box-caption-hide .portfolio-box-caption-content .project-category {
        font-size: 40px;
        padding-bottom: 20px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 12px;
    }
    .portfolio-box-hide .portfolio-box-caption-hide .portfolio-box-caption-content .project-name {
        font-size: 16px;
        padding: 0 100px;
    }
}

.footer {
    color: #222;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #8A0917;
}
.text-secondary {
    color: white;
}
.small {
    font-size: 28px;
}
.font-light {
    font-weight: 100;
    font-size: 14px;
}
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #ededed;
    color: #222;
    background-color: #f2f2f2;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #222;
}

.btn-primary {
    border-color: #8A0917;
    color: #fff;
    background-color: #8A0917;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: #8A0917;
    color: #fff;
    background-color: #8A0917;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #8A0917;
    background-color: #8A0917;
}

.btn-primary .badge {
    color: #8A0917;
    background-color: #fff;
}

.btn {
    border: 0;
    border-radius: 300px;
    /*text-transform: uppercase;*/
    padding: 10px 10px;
    font-family: 'Biryani', sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.logo {
    display: inline-block;
    transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
}
.logo:hover {
    color: rgb(0,102,204);
}